body {
	padding: 0;
	margin: 0
}

body img {
	height: 100vh
}

header {
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	height: 10%;
	width: auto;
	border: 1px solid black;
}


.logo img {
	padding: 0;
	margin: 0;
	height: 100px;
	width: 100px;
}

.Title {
	text-align: center;
	width: 80%;
	height: 60px;
	font-family: Courier;
	margin-left: 10%;
	top: -80px;
	font-size: 30px;
	border: 1px solid black;
}

.MenuList {
	margin-right: 40%;
	margin: 0;
	list-style: none;
	width: 40%;
	float: right;
	top: -95px;
	padding: 20px;
	left: 13%;
	border: 1px solid black; 
}

.MenuList li {
	display: inline-block;
}

.MenuList li a {
	margin-right: 2px;
	background: #fff;
	color: #000;
	font-size: 20px;
	height: 15px;
	width: auto;
	padding: 1px;
}

.categories {
	height: 50px;
	width: auto;
	color: #fff;
	border: 1px solid white;
}

.menuHeader {
	padding: 0;
	margin: 0;
}

.menuHeader li {
	list-style: none;
	display: inline-block;
}

.optionItem li a {
	color: #fff;
	display: none
}